body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.blackButton{
  background-color: red;
}

.whiteButton{
  background-color: green;
}

.nav {
  background-color: yellow;
}

.navlink a {
  color: black;
  display: inline;
}
