@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.blackButton{
  background-color: red;
}

.whiteButton{
  background-color: green;
}
.logo {
  float: left;
}
.Loginpic{
  width: 100vw;
  height: 25vw;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.mainimgtext{
  font-size: 6em;
  color: white;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 15vh;

}

.secondimgtext{
  font-size: 30px;
  color: white;
  text-align: center;
}


.navlist {
	background-color: white;
	height: 50px;
	border-bottom: 1px solid #008596;

  /*blocks are aligned using flex*/
	display: flex;
	justify-content: center;
  align-items: center;


}

.navlink{
  margin: 20px 15px;
  /*Montserrat font by googlefonts*/
	font-family: 'Montserrat', sans-serif;
	color: #00bcd4;
	font-size: 18px;
  text-decoration: none;

}
.navlink:hover {
  margin-bottom: 17px;
	border-bottom: 3px solid #00bcd4;
  /*CCS3 element for hover effect*/
	-webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.navbar {
  background-color: blue;

}

.interestscontainer{
  width: 80vw;
  margin: 0 auto;
}

.categorycontainer{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.category{
  border: solid black 2px;
}
.card {
  margin: 5px;
}

.Yoga{
  height: 150px;
  width: 250px;
  background-image: url('http://cdn.axar.az/2017/06/03/yoga.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}
.sports{
  height: 150px;
  width: 250px;
  background-image: url('https://vignette.wikia.nocookie.net/phobia/images/a/ab/Sports2.jpg/revision/latest?cb=20171106083857');
  background-size: 250px 150px;
  border-radius: 10px;

  text-decoration: none;
}
.outdoors{
  height: 150px;
  width: 250px;
  background-image: url('https://www.ashevillechamber.org/wp-content/uploads/2017/11/Play-Outdoors-Marquee.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Tech{
  height: 150px;
  width: 250px;
  background-image: url('https://www.visioncritical.com/wp-content/uploads/2015/12/tech-companies-resources-950x700.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}
.crosssing{
  height: 150px;
  width: 250px;
  background-image: url('https://smhttp-ssl-71052.nexcesscdn.net/media/wysiwyg/learning-center/Crossdressing-Rights.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Food{
  height: 150px;
  width: 250px;
  background-image: url('http://cheersbar.com.au/wp-content/uploads/2016/01/CheersBar-Food-76.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Family{
  height: 150px;
  width: 250px;
  background-image: url('http://vanierinstitute.ca/wp-content/uploads/2016/05/Diversity-diversit%C3%A9.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Learning{
  height: 150px;
  width: 250px;
  background-image: url('http://digitalassess.com/wp-content/uploads/2017/01/machine-learning-1.png');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Health{
  height: 150px;
  width: 250px;
  background-image: url('https://i2.wp.com/news.harvard.edu/wp-content/uploads/2018/04/healthy-habits.jpg?resize=1200%2C800&ssl=1');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Photography{
  height: 150px;
  width: 250px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkeP_F1zRZZifmLfttZmTwyK7R6roEESyKRioPj6bgHY9-ZKUd');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Music{
  height: 150px;
  width: 250px;
  background-image: url('https://www.apple.com/v/music/g/images/shared/og_image_family.png?201806181830');
  background-size: 250px 150px;
  border-radius: 10px;

}
.Language{
  height: 150px;
  width: 250px;
  background-image: url('http://edtechreview.in/images/best-language-learning-apps.jpg');
  background-size: 250px 150px;
  border-radius: 10px;

}

.tile  {
  text-decoration: none;
  color: black;
}

.groupsdiv{
  position: relative;
  width: 100%;
  border: solid black 1px;
  border-radius: 5px;
  margin: 0 auto;
  background: linear-gradient(#004092, #020202, transparent)
}

.grouplink{
  position: absolute;
  bottom: 2px;
  left: 4px;
  text-decoration: none;
  color: black;
  font-size: 2em;
  display: block;
  font-weight: 700;
  color: white;
   text-shadow: 1px 1px 0 rgba(0,0,0,.26);
   font-family: 'Catamaran', sans-serif;
  -webkit-text-stroke: 1px black;
}
.groupslocation{
  display: block;
}

.groupscontainer{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

}
.groupscontainer2{
  width: 80vw;
  margin: 0 auto;
}

.groupcontainer{
  width: 80vw;
  margin: 50px auto;
  display: grid;
  grid-template-areas:
  ' image name'
  'image nickname'
  ' image location'
  ' image description'

  'events events '
  'interests interests';
}
.groupimage {
  width: 100%;
  float:left;
  z-index: 0
}

.groupname{
  color:#00bcd4;
  font-size: 2em;
  grid-area: name;
  margin: 0 0 0 10px;

}
.groupimage{
  max-width: 50vw;
  grid-area: image;
  border-radius: 5px;
}
.grouplocation{
  grid-area: location;
  margin: 0 0 0 10px;
}
.groupdescription{
  grid-area: description;
  margin-left: 10px;
  font-size: 14px;
}
.groupevents{
  grid-area: events;
}
.groupinterests{
  grid-area: interests;

  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.groupnickname{
 grid-area: nickname;
 margin-left: 10px;
 margin: 0 0 0 10px;
}
.groupeventindividual{
  border: solid rgb(186, 186, 186) 1px;
  padding: 10px;
  margin: 0 0 5px 0;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 3px -2px rgba(186,186,186,0.45);
  -moz-box-shadow: 4px 4px 3px -2px rgba(186,186,186,0.45);
  box-shadow: 4px 4px 3px -2px rgba(186,186,186,0.45);
}
.groupeventindividualname{
text-decoration: none;
color: #00bcd4
}
.groupeventindividualdate{
margin: 0;
font-size: 14px;
color: red;
}
.groupeventindividualdescription{
font-size: 12px;
}
.groupeventindividuallocation{
margin: 0;
font-size: 14px;
}

.groupinterests li {
  float: left;
  background-color: rgb(209, 209, 209);
  margin: 0 5px 0 0;
  border-radius: 5px;
}

.groupinterests li a {
  display: block;
  text-align: center;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 12px;
}
.groupinterests li:hover {
  background-color:rgb(186, 186, 186);
}

.create a {
  text-decoration: none;
  font-size: 15px;
  }

.nextevent {
  font-size: 22px;
  float:right;
}
 .nextevent {
  font-size: 22px;
  float:right;
 }

 .eventtitle {
  border-bottom: 1px solid grey;
 }

 .eventtitle a{
  text-decoration: none;
 }

.createevent {
  background-color: darkgrey;
  height: 600px;
  width: 1440px;
  position: fixed;
  top: 50%;
  margin-top: -250px;

}

.createevent ul li {
  list-style-type: none;
  font-weight: bolder;
  margin-left: 400px;
}


.createevent input {
  margin-left:18px;
  width: 300px;
  padding: 8px 15px 8px 15px;

}
label {
  max-width: 600px;

}

button[type="submit"] {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color:royalblue;
  color:#ffffff;
  margin-left: `700px;
}

input[type="text"] {
  width: 300px;
}

input[type="date"] {
  max-width: 100px;
  margin-left: 139px;
}
input[type="time"] {
  max-width: 100px;
  margin-left: 67px;
}

input[name="location"] {
  margin-left: 152px;
}
input[type="number"] {
  max-width: 100px;
  margin-left: 49px;
}
textarea[name="description"] {
  margin-left: 224px;
  max-width: 340px;
}
input[type="file"] {
 max-width: 190px;
 margin-left: 2px;
}

input[name="image"] {
 max-width: 100px;
 margin-left: 20px;

}
.react-calendar{
   border: 3px solid grey;
   position: absolute;
   top: 152px;
   left: 1071px;
 }

.creategroup {
   height: 200px;
    width: 700px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
 }

.creategroup input {
  margin-left:18px;
  width: 300px;
  padding: 8px 15px 8px 15px;

}

.createevent h1 {
  margin-left: 400px;
}

.creategroup ul li {
  list-style-type: none;
  font-weight: bolder;
}

input[type="submit"] {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color:royalblue;
  color:#ffffff;
  margin-left: 140px;
}

input[name="name"] {
  margin-left: 67px;
}

input[name="location1"] {
  margin-left: 41px;
}

input[name="image2"] {
  margin-left: 63px;
}
input[name="nicknames"] {
  margin-left: 23px;
}

.maincontainer {
  padding:70px;
}
.container {
  padding:18px;
  max-width: 960px;
  border: 2px solid grey;
}

.row {
  max-width: 1024px;
  margin: 81px;
}

.containerevent {
  max-width: 1024px;
}
